@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* > * {
  font-family: "Poppins";
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-image: url(./assets/background.png);
  background-size: cover;
  background-attachment: fixed;
  z-index: -1; 
  width: 100%;
  height: 100vh;
  padding-top: 4%; 
  padding-bottom: 7%;
  object-fit: cover;
}
.App-header {
  background-color: #a0e4cb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 320px) {
  .mainContainer {
    width: 80vw;
    height: 90vh;
  }

  hr {
    margin-bottom: 0.3rem;
  }
  h4 {
    font-size: small;
  }
}

